<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload image</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--/*@thymesVar id="recipe" type="pl.home.recipeapp.model.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="panel-group">
                <div class="card border-warning mb-3">
                    <div class="card-header bg-warning mb-3 text-center">
                        <h1>Upload a new recipe image</h1>
                    </div>
                    <div class="card-block" style="padding: 10px">
                        <div class="row">
                            <div class="col-md-7" style="padding: 10px">
                                <form action="http:\\localhost" method="post" enctype="multipart/form-data"
                                      th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                                    <label class="form-control-label">Select File</label>
                                    <input id="imagefile" name="imagefile" type="file" class="file">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>