<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Welcome Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-warning mb-3 text-center">

                <div class="card-header bg-warning mb-3">
                    <h1 style="text-align: center" class="card-title">My Recipes!</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead style="" class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="recipe : ${recipes}">
                                <!--/*@thymesVar id="recipe" type="pl.home.recipeapp.model.Recipe"*/-->
                                <td th:text="${recipe.id}">recipe</td>
                                <td th:text="${recipe.description}">description</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}+ '/show/'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}+ '/update/'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}+ '/delete/'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>